<i *ngIf="isLoading" class="fa fa-spinner fa-spin fa-3x"></i>
<ng-container *ngIf="!isLoading && collection">
  <div class="row">
    <div class="col-lg-5 collection-panel pb-5">
      <h3 class="mt-2 mb-0 text-center">{{'collection.project_board' | translate}}</h3>
      <p class="text-center porject-board-help-block mb-1">{{'collection.project_board_hint' | translate}}</p>

      <div class="project-section mt-3 sticky-top">
        <div class="project-toolbar">

          <i *ngIf="canvasImageDataUrl || collection.workspaceImageUrl" class="img-button img-edit-name fa fa-arrows float-right clickable" [ngClass]="{ 'd-none': isEditName }"
            (click)="openCanvasModal()" placement="top" ngbTooltip="{{'collection.see_pictures_on_wall' | translate}}" aria-hidden="true"></i>

            <i class="float-right img-button img-save-name fa fa-check float-right clickable" [ngClass]="{ 'd-none': !isEditName }" (click)="editName(false)"
              placement="top" ngbTooltip="{{'common.save' | translate}}" aria-hidden="true"></i>

            <i class="fa fa-upload img-button float-right img-upload clickable" [class.disabled]="saveLoading" (click)="!saveLoading && imageFile.click()"
              placement="top" ngbTooltip="{{'collection.upload_space_image' | translate}}" [ngClass]="{ 'd-none': isEditName }"
              aria-hidden="true"></i>

            <i class="fa fa-floppy-o img-button float-right img-save clickable" [class.disabled]="(saveLoading || !unsavedChanges) && (collectionItems.length == 0 && !authService.isLoggedIn())"
              (click)="!saveLoading && saveCollection(saveModal)" [ngClass]="{ 'fa-spinner fa-spin': saveLoading, 'd-none': isEditName }"
              placement="top" ngbTooltip="{{'collection.save_collection' | translate}}" aria-hidden="true"></i>

            <img *ngIf="!authService.isLoggedIn()" src="assets/images/clean-icon.png" class="img-button float-right img-clear clickable"
              [class.disabled]="saveLoading" (click)="!saveLoading && clearCollection()" placement="top" ngbTooltip="{{'collection.reset_project' | translate}}"
              [ngClass]="{ 'd-none': isEditName }" aria-hidden="true">

            <i class="img-button img-edit-name fa fa-pencil float-right clickable introjs-daniel" [ngClass]="{ 'd-none': isEditName }" (click)="editName(true)"
              data-step="6"
              [attr.data-intro]="'intro.step6' | translate"
              placement="top" ngbTooltip="{{'collection.edit_name' | translate}}" aria-hidden="true"></i>

            <input type="text" autofocus (keyup.enter)="onBlurCollectionName()" (blur)="onBlurCollectionName()" [(ngModel)]="collection.name"
              name="name" #name id="name" class="form-control" [ngClass]="{ 'd-none': !isEditName }">
            <h5 class="collection-name editable-text mb-0" [ngClass]="{ 'd-none': isEditName, 'd-inline-block': !isEditName }">{{collection.name}}</h5>
          </div>

          <div class="position-relative introjs-daniel" data-step="1"
            [attr.data-intro]="'intro.step1' | translate"
            >
            <img src="assets/images/placeholder_loading.png" [ngClass]="{ 'd-none': !imageLoading }" class="img-fluid" [alt]="collection.name">
            <img [src]="collection.workspaceImageUrl || 'assets/images/workspace_placeholder.jpeg'" [ngClass]="{ 'd-none': imageLoading }"
              class="workspace-image img-fluid" [alt]="collection.name">
            <p *ngIf="!collection.workspaceImageUrl" class="clickable position-absolute workspace-image-text" (click)="!saveLoading && imageFile.click()">
              {{'collection.upload_a_photo_of_your_room' | translate}}
            </p>
            <i *ngIf="imageLoading" class="img-loader position-absolute fa fa-spinner fa-spin fa-3x"></i>
            <input type="file" (change)="readURL($event)" name="imageFile" #imageFile class="form-control-file d-none" id="inputWorkspaceImage">
          </div>
          <div class="purchase-zone introjs-daniel" data-step="5" [attr.data-intro]="'intro.step5' | translate" >
            <div class="row no-gutters mt-2">
              <div class="col-6 pt-2">
                {{ 'collection.you_have_selected_x_items' | translate:{'items_count':(introService.isWithinIntro() ? introCollectionItems : collectionItems).length} }}
              </div>
              <div class="col-3 offset-1">
                <i *ngIf="purchaseNavigateLoading" class="fa fa-spinner fa-spin fa-2x"></i>
                <button *ngIf="!purchaseNavigateLoading" class="btn btn-primary introjs-daniel" (click)="navigateToPurchase(saveModal)">{{'collection.proceed_to_purchase' | translate}}</button>
              </div>
            </div>
            <div class="row no-gutters mt-2"
            >
              <ng-container *ngIf="introService.isWithinIntro()">
                <div *ngFor="let collectionItem of introCollectionItems" class="col-md-4 mb-4 px-2 position-relative">
                  <img [src]="collectionItem.thumbUrl" class="img-fluid collection-image" alt="">
                  <i class="fa fa-times-circle position-absolute img-close clickable" (click)="removeCollectionItemById(collectionItem)" aria-hidden="true"></i>
                  <i class="fa fa-search full-image-button clickable float-right" (click)="openImageModal(collectionItem)" aria-hidden="true"></i>
                  <p>{{'collection.starting_at' | translate}}: {{collectionItem.startingPriceFormatted}}</p>
                </div>
              </ng-container>
              
              <ng-container *ngIf="!introService.isWithinIntro()">
                <div *ngFor="let collectionItem of collectionItems" class="col-md-4 mb-4 px-2 position-relative">
                  <img [src]="collectionItem.thumbUrl" class="img-fluid collection-image" alt="">
                  <i class="fa fa-times-circle position-absolute img-close clickable" (click)="removeCollectionItemById(collectionItem)" aria-hidden="true"></i>
                  <i class="fa fa-search full-image-button clickable float-right" (click)="openImageModal(collectionItem)" aria-hidden="true"></i>
                  <p>{{'collection.starting_at' | translate}}: {{collectionItem.startingPriceFormatted}}</p>
                </div>
              </ng-container>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-7">
      <h2 class="mt-2 mb-0 text-center">
        {{'collection.explore_artworks' | translate}}
      </h2>
      <p class="text-center porject-board-help-block mb-1">{{'collection.explore_artworks_hint' | translate}}</p>

      <p *ngIf="loadingTags">{{'collection.loading_filters' | translate}}...
        <i class="fa fa-spinner fa-spin fa-2x"></i>
      </p>

      <ng-container *ngIf="!loadingTags">
        <div class="filters-list mt-4 introjs-daniel" data-step="2" 
          [attr.data-intro]="'intro.step2' | translate"
          >
          <div ngbDropdown class="d-inline-block">
            <button placement="top" ngbTooltip="{{'collection.filter_by_artwork_type' | translate}}" class="btn btn-light" id="dropdownBasic1"
              ngbDropdownToggle>{{'collection.type' | translate}}{{ selectedMaterialType ? ': ' + ('materials.' + selectedMaterialType | translate)
              : '' }}</button>
            <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
              <button *ngIf="materialTypes.length > 1" (click)="selectArtType({materialType: 'all', name: 'all'})" class="dropdown-item">{{'collection.all' | translate}}</button>
              <button *ngFor="let materialType of materialTypes" (click)="selectArtType(materialType)" class="dropdown-item">{{'materials.' + materialType | translate}}</button>
            </div>
          </div>
        </div>

        <div class="mb-3 tag-chooser">
          <div class="arrow-wrapper" (click)="arrowClick(direction == 'rtl' ? false : true)">
            <div class="app-arrow arrow-left float-left"></div>
          </div>

          <div *ngIf="!loadingTags" class="horizontal-slide tag-list" id="tagList">
            <div *ngFor="let tag of tags" class="tag">
              <button class="btn btn-light" [ngClass]="{ 'btn-dark': isTagSelected(tag) }" placement="top" ngbTooltip="{{'collection.filter_by' | translate}} {{'tags.' + tag.name | translate}}"
                (click)="selectTagFilter(tag)">{{'tags.' + tag.name | translate}}</button>
            </div>
          </div>

          <div class="arrow-wrapper" (click)="arrowClick(direction == 'rtl' ? true : false)">
            <div class="app-arrow arrow-right float-right"></div>
          </div>
        </div>

        <div class="mt-2 mb-3 mx-auto d-table color-table introjs-daniel" data-step="3" 
          [attr.data-intro]="'intro.step3' | translate"
          >
          <div *ngFor="let hexColor of hexColors" class="color clickable d-inline-block" (click)="selectColorFilter(hexColor)" [ngClass]="{ 'active': filters.color == hexColor }"
            [style.backgroundColor]="hexColor">
          </div>
        </div>
      </ng-container>

      <div *ngIf="searchLoading" class="row">
        <i class="fa fa-spinner fa-spin fa-3x"></i>
      </div>
      <ng-container *ngIf="portfolioItems && portfolioItems.length > 0; else noResults">
        <div class="row art-stuff introjs-daniel" data-step="4" 
          [attr.data-intro]="'intro.step4' | translate"
          >
          <div *ngFor="let portfolioItem of portfolioItems" class="col-3 mb-2">
            <img [src]="portfolioItem.thumbUrl" class="img-fluid clickable" [ngClass]="{ 'selected-image': portfolioItem.selected }"
              (click)="imageSelected(portfolioItem)" alt="">
            <i class="fa fa-search full-image-button clickable float-right" placement="top" ngbTooltip="{{'collection.more_details' | translate}}"
              (click)="openImageModal(portfolioItem)" aria-hidden="true"></i>
            <p class="mb-0">{{'collection.starting_at' | translate}}: {{portfolioItem.startingPriceFormatted}}</p>
          </div>
        </div>
        <div *ngIf="portfolioItemsTotalEntries / portfolioItemsPageSize > 1" class="text-center mt-3">
          <ngb-pagination class="d-inline-block" [collectionSize]="portfolioItemsTotalEntries" [pageSize]="portfolioItemsPageSize"
            [(page)]="portfolioItemsPage" (pageChange)="pageChanged($event)" aria-label="Default pagination"></ngb-pagination>
        </div>
      </ng-container>
      <ng-template #noResults>
        <div *ngIf="!searchLoading" class="text-center mt-5 text-secondary">
          <h2>{{'collection.no_results' | translate}}</h2>
          <p>{{'collection.try_searching_again' | translate}}</p>
          <img src="assets/images/sad_baby.png" width="170px" alt="No results">
        </div>
      </ng-template>
    </div>
  </div>
  <div *ngIf="openModalImage">
    <ImageModal [modalImages]="modalImages" [imagePointer]="0" (cancelEvent)="closeImageModal()"></ImageModal>
  </div>
  <div *ngIf="openModalCanvas">
    <CanvasModal [backgroundImage]="collection.workspaceImageBareUrl" [modalImages]="canvasImages" (cancelEvent)="closeCanvasModal($event)"></CanvasModal>
  </div>
</ng-container>

<ng-template #saveModal let-c="close" let-d="dismiss">
  <div [attr.dir]="direction" [ngClass]="direction">
    <div class="modal-header">
      <div>
        <h4 class="modal-title" id="modal-basic-title">{{'collection.create_user_to_continue' | translate}}</h4>
        <div class="help-block">{{'collection.login_with_this_info_to_load_collection' | translate}}</div>
      </div>
      <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <form name="form" (ngSubmit)="f.form.valid && signupAndSaveCollection(c)" #f="ngForm" novalidate>
      <div class="modal-body">
        <div *ngIf="modalErrorMessage" class="help-block text-danger">{{modalErrorMessage | translate}}</div>

        <div class="form-group">
          <label for="email">{{'common.email' | translate}}</label>
          <input type="text" [ngClass]="{ 'is-invalid': f.submitted && (!email.valid || validationErrors.email) }" class="form-control"
            name="email" [(ngModel)]="user.email" #email="ngModel" required email />
          <div *ngIf="f.submitted && !email.valid" class="help-block text-danger">{{'common.a_valid_email_is_required' | translate}}</div>
          <div *ngIf="validationErrors.email">
            <div *ngFor="let error of validationErrors.email" class="help-block text-danger">{{'common.email' | translate}} {{error | translate}}</div>
          </div>
        </div>
        <div class="form-group">
          <label for="password">{{'collection.choose_a_password' | translate}}</label>
          <input type="password" [ngClass]="{ 'is-invalid': f.submitted && (!password.valid || validationErrors.password) }" class="form-control"
            name="password" [(ngModel)]="user.password" #password="ngModel" required minlength="6" />
          <div *ngIf="f.submitted && password.errors?.required" class="help-block text-danger">{{'sign_up.password_is_required' | translate}}</div>
          <div *ngIf="f.submitted && !password.errors?.required && password.errors?.minlength" class="help-block text-danger">{{ 'sign_up.password_should_be_at_least_x_characters' | translate:{'characters':password.errors.minlength.requiredLength}
            }}
          </div>
          <div *ngIf="validationErrors.password">
            <div *ngFor="let error of validationErrors.password" class="help-block text-danger">{{'common.password' | translate}} {{error}}</div>
          </div>
        </div>

        <p>{{'common.or' | translate}}</p>

        <button type="button" class="btn btn-social btn-facebook" (click)='loginWithFacebookPopup(c)'>
          <span class="fa fa-facebook"></span> {{'login.login_with_facebook' | translate}}
        </button>
        <button type="button" class="btn btn-social btn-google" (click)='loginWithGooglePopup(c)'>
          <span class="fa fa-google"></span> {{'login.login_with_google' | translate}}
        </button>

      </div>
      <div class="modal-footer">
        <!-- <button type="button" class="btn btn-outline-dark" (click)="c('Save click')">Save</button> -->
        <button [disabled]="signupLoading" class="btn btn-primary">{{'common.save' | translate}}</button>
        <i *ngIf="signupLoading" class="fa fa-spinner fa-spin fa-2x align-middle"></i>
      </div>
    </form>
  </div>
</ng-template>
