.selected-image {
  border: 3px solid gray;
}

.sticky-top {
  top: 80px;
}

.img-close {
  top: 1px;
  right: 10px;
  font-size: 20px;
}

.collection-image:hover+.img-close, .img-close:hover {
  color: antiquewhite;
}

.arrow-wrapper {
  display: table-cell;
  vertical-align: middle;
}

.tag-chooser {
  display: table;
}

.img-upload, .img-save, .img-clear {
  top: 5px;
  border-radius: 40px;
  background-color: #c8c9ff;
  padding: 8px;
}

.img-upload.disabled, .img-save.disabled, .img-clear.disabled {
  color: #808080
}

.img-upload {
  left: 5px;
  right: unset;
}

div.rtl .img-upload {
  right: 5px;
  left: unset;
}

.img-save {
  left: 45px;
  right: unset;
}

div.rtl .img-save {
  right: 45px;
  left: unset;
}

.img-clear {
  left: 85px;
  right: unset;
}

div.rtl .img-clear {
  right: 85px;
  left: unset;
}

.img-upload:hover:not(.disabled), .img-save:hover:not(.disabled), .img-clear:hover:not(.disabled) {
  background-color: #81b3ff;
}

.editable-text {
  border: 1px solid transparent;
  padding: 4px;
}

.img-loader {
  top: 50%;
  left: 50%;
  margin: -20px;
}

.horizontal-slide {
  white-space: nowrap;
  overflow-x: scroll;
  -webkit-overflow-scrolling: touch;
  width: 600px;
}

.horizontal-slide .tag {
  display: inline-block;
  float: none;
  margin: 3px;
}

.tag-list {
  margin: 0 20px;
  overflow-x: hidden;
}

.color {
  width: 30px;
  height: 30px;
}

.color:hover {
  border: 2px solid #000;
}

.color.active {
  border: 2px solid #000;
}

.item-color {
  width: 25px;
  height: 25px;
}

.app-arrow {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  cursor: pointer;
}

.arrow-right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

div.rtl .arrow-right {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}

.arrow-left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}

div.rtl .arrow-left {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.collection-panel {
  background-color: #e2e2e2;
}

.collection-name {
  background-color: #7b7b7b;
  color: #ffffff;
  width: 100%;
}

.collection-edit {
  font-size: 1.2em;
  line-height: 1.7em;
  /* width: 100%; */
}

.workspace-image {
  width: 100%;
}
