<i *ngIf="isLoading" class="fa fa-spinner fa-spin fa-3x"></i>
<ng-container *ngIf="!isLoading && collection">
  <div class="row">
    <div class="col-lg-5 collection-panel pb-5">
      <h3 class="mt-2 text-center">{{'collection.project_board' | translate}}</h3>

      <div class="collection-name">
        <i class="collection-edit pr-2 fa fa-pencil float-right clickable" [ngClass]="{ 'd-none': isEditName }" (click)="editName(true)"
           placement="top" ngbTooltip="Edit name" aria-hidden="true"></i>
        <i class="collection-edit pr-2 fa fa-floppy-o float-right clickable" [ngClass]="{ 'd-none': !isEditName }" (click)="editName(false)"
          placement="top" ngbTooltip="Save" aria-hidden="true"></i>
        <input type="text" autofocus (keyup.enter)="onBlurCollectionName()" (blur)="onBlurCollectionName()" [(ngModel)]="collection.name" name="name"
          #name id="name" class="form-control" [ngClass]="{ 'd-none': !isEditName }">
        <h5 class=" editable-text mb-0" [ngClass]="{ 'd-none': isEditName, 'd-inline-block': !isEditName }">{{collection.name}}</h5>
      </div>

      <div class="sticky-top">
        <div class="position-relative">
          <img src="assets/images/placeholder_loading.png" [ngClass]="{ 'd-none': !imageLoading }" class="img-fluid" [alt]="collection.name">
          <img [src]="collection.workspaceImageUrl || 'assets/images/placeholder.png'" [ngClass]="{ 'd-none': imageLoading }" class="workspace-image img-fluid"
            [alt]="collection.name">
          <i *ngIf="imageLoading" class="img-loader position-absolute fa fa-spinner fa-spin fa-3x"></i>
          <i class="fa fa-upload position-absolute img-upload clickable" [class.disabled]="saveLoading" (click)="!saveLoading && imageFile.click()"
             placement="top" ngbTooltip="Upload space image" aria-hidden="true"></i>
          <i class="fa fa-floppy-o position-absolute img-save clickable" [class.disabled]="saveLoading || collectionItems.length == 0"
            (click)="!saveLoading && collectionItems.length > 0 && saveCollection(saveModal)" [ngClass]="{ 'fa-spinner fa-spin': saveLoading }"
            placement="top" ngbTooltip="Save collection" aria-hidden="true"></i>
          <i class="fa fa-trash-o position-absolute img-clear clickable" [class.disabled]="saveLoading" (click)="!saveLoading && clearCollection()"
             placement="top" ngbTooltip="Clear collection" aria-hidden="true"></i>
          <input type="file" (change)="readURL($event)" name="imageFile" #imageFile class="form-control-file d-none" id="inputWorkspaceImage">
        </div>
        <div *ngIf="collectionItems.length > 0" class="row no-gutters mt-2">
          <div class="col-6 pt-2">
            {{ 'collection.you_have_selected_x_items' | translate:{'items_count':collectionItems.length} }}
          </div>
          <div class="col-3 offset-1">
            <i *ngIf="purchaseNavigateLoading" class="fa fa-spinner fa-spin fa-2x"></i>
            <button *ngIf="!purchaseNavigateLoading" class="btn btn-primary" (click)="navigateToPurchase(saveModal)">{{'collection.proceed_to_purchase' | translate}}</button>
          </div>
        </div>
        <div *ngIf="collectionItems.length > 0" class="row no-gutters mt-2">
          <div *ngFor="let collectionItem of collectionItems" class="col-md-4 mb-4 px-2 position-relative">
            <img [src]="collectionItem.thumbUrl" class="img-fluid collection-image" alt="">
            <i class="fa fa-times-circle position-absolute img-close clickable" (click)="removeCollectionItemById(collectionItem)" aria-hidden="true"></i>
            <p>{{'collection.starting_at' | translate}}: {{collectionItem.startingPriceFormatted}}</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-7">
      <h2 class="mt-2 mb-3 text-center">
        {{'collection.explore_new_art' | translate}}
      </h2>
      <p *ngIf="loadingTags">{{'collection.loading_filters' | translate}}... <i class="fa fa-spinner fa-spin fa-2x"></i></p>
      <ng-container *ngIf="!loadingTags">
        <div class="mt-2 mb-3 tag-chooser">
          <div class="arrow-wrapper" (click)="arrowClick(direction == 'rtl' ? false : true)">
            <div class="app-arrow arrow-left float-left"></div>
          </div>

          <div *ngIf="!loadingTags" class="horizontal-slide tag-list" id="tagList">
            <div *ngFor="let tag of tags" class="tag">
              <button class="btn btn-light" [ngClass]="{ 'btn-dark': isTagSelected(tag) }" (click)="selectTagFilter(tag)">{{'tags.' + tag.name | translate}}</button>
            </div>
          </div>

          <div class="arrow-wrapper" (click)="arrowClick(direction == 'rtl' ? true : false)">
            <div class="app-arrow arrow-right float-right"></div>
          </div>
        </div>

        <div class="mt-2 mb-3 mx-auto d-table">
          <div *ngFor="let hexColor of hexColors" class="color clickable d-inline-block" (click)="selectColorFilter(hexColor)" [ngClass]="{ 'active': filters.color == hexColor }"
            [style.backgroundColor]="hexColor">
          </div>
        </div>
      </ng-container>

      <div *ngIf="searchLoading" class="row">
        <i class="fa fa-spinner fa-spin fa-3x"></i>
      </div>
      <div class="row">
        <div *ngFor="let portfolioItem of portfolioItems" class="col-3 mb-2">
          <img [src]="portfolioItem.thumbUrl" class="img-fluid clickable" [ngClass]="{ 'selected-image': portfolioItem.selected }"
            (click)="imageSelected(portfolioItem)" alt="">
          <p class="mb-0">{{'collection.starting_at' | translate}}: {{portfolioItem.startingPriceFormatted}}</p>
          <a [href]="portfolioItem.imageUrl" target="_blank">Full image</a>
        </div>
      </div>
      <div *ngIf="portfolioItemsTotalEntries / portfolioItemsPageSize > 1" class="text-center mt-3">
        <ngb-pagination class="d-inline-block" [collectionSize]="portfolioItemsTotalEntries" [pageSize]="portfolioItemsPageSize" [(page)]="portfolioItemsPage"
          (pageChange)="pageChanged($event)" aria-label="Default pagination"></ngb-pagination>
      </div>
    </div>
  </div>
</ng-container>

<ng-template #saveModal let-c="close" let-d="dismiss">
  <div [attr.dir]="direction" [ngClass]="direction">
    <div class="modal-header">
      <div>
        <h4 class="modal-title" id="modal-basic-title">{{'collection.create_user_to_continue' | translate}}</h4>
        <div class="help-block">{{'collection.login_with_this_info_to_load_collection' | translate}}</div>
      </div>
      <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <form name="form" (ngSubmit)="f.form.valid && signupAndSaveCollection(c)" #f="ngForm" novalidate>
      <div class="modal-body">
        <div *ngIf="modalErrorMessage" class="help-block text-danger">{{modalErrorMessage | translate}}</div>

        <div class="form-group">
          <label for="email">{{'common.email' | translate}}</label>
          <input type="text" [ngClass]="{ 'is-invalid': f.submitted && (!email.valid || validationErrors.email) }" class="form-control"
            name="email" [(ngModel)]="user.email" #email="ngModel" required email />
          <div *ngIf="f.submitted && !email.valid" class="help-block text-danger">{{'sign_up.a_valid_email_is_required' | translate}}</div>
          <div *ngIf="validationErrors.email">
            <div *ngFor="let error of validationErrors.email" class="help-block text-danger">{{'common.email' | translate}} {{error | translate}}</div>
          </div>
        </div>
        <div class="form-group">
          <label for="password">{{'collection.choose_a_password' | translate}}</label>
          <input type="password" [ngClass]="{ 'is-invalid': f.submitted && (!password.valid || validationErrors.password) }" class="form-control"
            name="password" [(ngModel)]="user.password" #password="ngModel" required minlength="6" />
          <div *ngIf="f.submitted && password.errors?.required" class="help-block text-danger">{{'sign_up.password_is_required' | translate}}</div>
          <div *ngIf="f.submitted && !password.errors?.required && password.errors?.minlength" class="help-block text-danger">{{ 'sign_up.password_should_be_at_least_x_characters' | translate:{'characters':password.errors.minlength.requiredLength}
            }}
          </div>
          <div *ngIf="validationErrors.password">
            <div *ngFor="let error of validationErrors.password" class="help-block text-danger">{{'common.password' | translate}} {{error}}</div>
          </div>
        </div>

      </div>
      <div class="modal-footer" >
        <!-- <button type="button" class="btn btn-outline-dark" (click)="c('Save click')">Save</button> -->
        <button [disabled]="signupLoading" class="btn btn-primary">{{'common.save' | translate}}</button>
        <i *ngIf="signupLoading" class="fa fa-spinner fa-spin fa-2x align-middle"></i>
      </div>
    </form>
  </div>
</ng-template>
