.selected-image {
  border: 3px solid gray;
}

.sticky-top {
  top: 80px;
}

.withinIntro .sticky-top {
  position: initial;
}

.img-close {
  top: 1px;
  right: 10px;
  font-size: 20px;
}

.collection-image:hover+.img-close, .img-close:hover {
  color: antiquewhite;
}

.arrow-wrapper {
  display: table-cell;
  vertical-align: middle;
}

.tag-chooser {
  display: table;
}

.img-button {
  border-radius: 40px;
  background-color: #efefef;
  padding: 6px;
}

.img-button:hover:not(.disabled) {
  background-color: #dbdbdb;
}

.img-upload, .img-save, .img-clear, .img-edit-name, .img-save-name {
  margin-left: 2px;
  margin-right: 2px;
}

.img-upload.disabled, .img-save.disabled, .img-clear.disabled {
  color: #b2b2b2
}

/* .img-upload {
  left: 5px;
  right: unset;
}

div.rtl .img-upload {
  right: 5px;
  left: unset;
}

.img-save {
  left: 45px;
  right: unset;
}

div.rtl .img-save {
  right: 45px;
  left: unset;
} */

.img-clear {
  /* left: 85px; */
  /* right: unset; */
  width: 26px;
  padding: 5px;
}

/* div.rtl .img-clear {
  right: 85px;
  left: unset;
} */

.editable-text {
  border: 1px solid transparent;
  padding: 4px;
}

.img-loader {
  top: 50%;
  left: 50%;
  margin: -20px;
}

.horizontal-slide {
  white-space: nowrap;
  overflow-x: scroll;
  -webkit-overflow-scrolling: touch;
  width: 600px;
}

.horizontal-slide .tag {
  display: inline-block;
  float: none;
  margin: 3px;
}

.tag-list {
  margin: 0 20px;
  overflow-x: hidden;
}

.filters-list {
  margin: 0 32px;
}

.color {
  width: 30px;
  height: 30px;
}

.color:hover {
  border: 2px solid #000;
}

.color.active {
  border: 2px solid #000;
}

.item-color {
  width: 25px;
  height: 25px;
}

.app-arrow {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  cursor: pointer;
}

.arrow-right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

div.rtl .arrow-right {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}

.arrow-left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}

div.rtl .arrow-left {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.project-toolbar {
  background-color: #7b7b7b;
  width: 100%;
  padding: 3px;
}

.collection-panel {
  background-color: #f3f3f3;
}

.collection-name {
  color: #ffffff;
  font-size: 17px;
}

.collection-edit {
  font-size: 1.2em;
  line-height: 1.7em;
  /* width: 100%; */
}

.workspace-image {
  width: 100%;
}

.full-image-button:hover {
  color: #6d3fec
}

.porject-board-help-block {
  font-size: 13px;
}

.project-section {
  border-top: 3px solid #7b7b7b;
}

.workspace-image-text {
  left: 10%;
  top: 10px;
  font-size: 26px;
  font-weight: bold;
}
