<h1 *ngIf="collections?.length > 0">{{'collections.my_collections' | translate}}</h1>
<h1 *ngIf="collections?.length == 0">{{'collections.there_are_no_saved_collections' | translate}}</h1>
<button class="btn btn-primary mb-4" [routerLink]="['']">{{'collections.add_collection' | translate}}</button>

<div class="row">
  <div *ngFor="let collection of collections" class="col-md-4 mb-3">
    <div class="card">
      <img class="card-img-top clickable no-focus" [routerLink]="['/collections/', collection.id]" [src]="collection.workspaceImageUrl || 'assets/images/placeholder.png'" [alt]="collection.name">
      <div class="card-body">
        <h5 class="card-title clickable d-inline-block no-focus" [routerLink]="['/collections/', collection.id]">{{collection.name}}</h5>
        <div class="text-right">
          <a [routerLink]="['/collections/', collection.id]" class="btn btn-link">
            <i class="fa fa-pencil edit-collection" aria-hidden="true"></i>
          </a>
          <a (click)="deleteCollection(collection)" class="btn btn-link">
            <i class="fa fa-trash-o delete-collection" aria-hidden="true"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
