<i *ngIf="isLoading" class="fa fa-spinner fa-spin fa-3x"></i>
<ng-container *ngIf="collection">
  <div class="row mb-4">
    <div class="col-md-4 border-right">
      <h2>{{'purchase.total_amount' | translate}}: {{totalAmountCents / 100.0 | currency:currencyCode:'symbol':'1.2-2'}}</h2>
      <form #f="ngForm" (ngSubmit)='f.form.valid && saveOrder()'>
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="firstName">{{'common.first_name' | translate}}</label>
            <input type="text" [ngClass]="{ 'is-invalid': f.submitted && !firstName.valid }" class="form-control" name="firstName" [(ngModel)]="order.firstName"
              #firstName="ngModel" required />
            <div *ngIf="f.submitted && !firstName.valid" class="help-block text-danger">{{'common.first_name_is_required' | translate}}</div>
          </div>
          <div class="form-group col-md-6">
            <label for="lastName">{{'common.last_name' | translate}}</label>
            <input type="text" [ngClass]="{ 'is-invalid': f.submitted && !lastName.valid }" class="form-control" name="lastName" [(ngModel)]="order.lastName"
              #lastName="ngModel" required />
            <div *ngIf="f.submitted && !lastName.valid" class="help-block text-danger">{{'common.last_name_is_required' | translate}}</div>
          </div>
        </div>
        <div class="form-group">
          <label for="city">{{'common.city' | translate}}</label>
          <input type="text" [ngClass]="{ 'is-invalid': f.submitted && !city.valid }" class="form-control" name="city" [(ngModel)]="order.city"
            #city="ngModel" required />
          <div *ngIf="f.submitted && !city.valid" class="help-block text-danger">{{'purchase.city_is_required' | translate}}</div>
        </div>
        <div class="form-group">
          <label for="address">{{'common.address' | translate}}</label>
          <input type="text" [ngClass]="{ 'is-invalid': f.submitted && !address.valid }" class="form-control" name="address" [(ngModel)]="order.address"
            #address="ngModel" required />
          <div *ngIf="f.submitted && !address.valid" class="help-block text-danger">{{'purchase.address_is_required' | translate}}</div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="zipCode">{{'common.zip_code' | translate}}</label>
            <input type="text" [ngClass]="{ 'is-invalid': f.submitted && !zipCode.valid }" class="form-control" name="zipCode" [(ngModel)]="order.zipCode"
              #zipCode="ngModel" required />
            <div *ngIf="f.submitted && !zipCode.valid" class="help-block text-danger">{{'purchase.zip_code_is_required' | translate}}</div>
          </div>
          <div class="form-group col-md-6">
            <label for="phoneNumber">{{'common.phone_number' | translate}}</label>
            <input type="text" [ngClass]="{ 'is-invalid': f.submitted && !phoneNumber.valid }" class="form-control" name="phoneNumber"
              [(ngModel)]="order.phoneNumber" #phoneNumber="ngModel" required />
            <div *ngIf="f.submitted && !phoneNumber.valid" class="help-block text-danger">{{'purchase.phone_number_is_required' | translate}}</div>
          </div>
        </div>
        <button [disabled]="isLoadingPaypal" class="btn btn-primary">{{'purchase.pay_with_paypal' | translate}}</button>
        <i *ngIf="isLoadingPaypal" class="fa fa-spinner fa-spin fa-2x align-middle"></i>
      </form>
    </div>
    <div class="col-md-8">
      <div class="row">
        <div class="col-12">
          <div *ngFor="let collectionItem of collectionItems" class="row mb-4">
            <div class="col-sm-4">
              <img [src]="collectionItem.imageUrl" class="img-fluid" alt="">
            </div>
            <div class="col-sm-8">
              <p><strong>{{collectionItem.name}}</strong></p>
              <form>
                <div class="form-group row">
                  <label for="materialSelect" class="col-form-label col-sm-2">{{'purchase.material' | translate}}</label>
                  <select class="form-control col-sm-10" id="materialSelect"
                          (change)="materialSelected(collectionItem, $event.target.value)">
                    <option *ngFor="let purchaseOption of collectionItem.purchaseOptions"
                            [value]="purchaseOption.materialId">{{purchaseOption.material}}
                    </option>
                  </select>
                </div>
                <div class="form-group row">
                  <label for="sizeSelect" class="col-form-label col-sm-2">{{'purchase.size' | translate}}</label>
                  <select class="form-control col-sm-10" name="selectedSize" id="sizeSelect"
                          [(ngModel)]="selectionPerItemMapping[collectionItem.id].selectedSizeId"
                          (change)="sizeSelected(collectionItem, $event.target.value)">
                    <option *ngFor="let pricing of selectionPerItemMapping[collectionItem.id].selectedMaterial.prices"
                             [value]="pricing.sizeId">{{pricing.size}}</option>
                  </select>
                </div>
              </form>
              <div>
                <strong>{{'purchase.price' | translate}}: {{selectionPerItemMapping[collectionItem.id].selectedPrice.priceCents / 100.0 | currency:selectionPerItemMapping[collectionItem.id].selectedPrice.currencyCode:'symbol':'1.2-2'}}</strong>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-container>
